.gradle
metrics/build
metrics/logs
riemann/build
riemann/logs
*.class
*.log
*.iml

# sbt specific
.cache/
.history/
.lib/
.vagrant/*
.idea/*
logs/*
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
psutil/*
metrics-client/*